<?
define('SLACK_USERNAME','');
define('SLACK_CHANNEL','');
define('SLACK_WEBHOOK_URL','');
define('SLACK_ICON', ':speech_balloon:');

define('AKISMET_KEY','');

define('MAILGUN_KEY','');
define('MAILGUN_DOMAIN','');
define('MAILGUN_TO','');
define('MAILGUN_FROM','');
define('MAILGUN_SUBJECT','New request from website {{site_url}}');