<p>{{name}}, cпасибо, что оставили заявку на сайте Accuraten. Мы свяжемся с вами в течение 1 рабочего дня.</p>

<p>Мы получили от вас информацию:</p>

<p><strong>Имя:</strong> {{name}}</p>

<p><strong>Телефон:</strong> {{tel}}</p>

<p><strong>email:</strong> {{_replyto}}</p>

<p><strong>Задача:</strong> {{message}}</p>

<p>&nbsp;</p>

<p>Почтовый робот Accuraten</p>

<p><a href="mailto:mail@accuraten.com">mail@accuraten.com</a></p>

<p>Санкт-Петербург, улица Шпалерная, 26<br />
<a href="tel:+79675352472">+7 (967) 535-24-72</a> (Telegram)</p>

<p>Калининград, Советский проспект, 33а<br />
<a href="tel:+79118554541">+7 (911) 855-45-41</a> (Telegram, Viber)</p>