<p>{{name}}, thank you for contacting Accuraten branding bureau. We will be in touch with you within 1 working day.</p>

<p>We have received following info from you.</p>

<p><strong>Name:</strong> {{name}}</p>

<p><strong>Telephone:</strong> {{tel}}</p>

<p><strong>email:</strong> {{_replyto}}</p>

<p><strong>Task:</strong> {{message}}</p>

<p>&nbsp;</p>

<p>Accuraten mail robot</p>

<p><a href="mailto:mail@accuraten.com">mail@accuraten.com</a></p>

<p>Russia, Saint Petersburg, Shpalernaya street, 26<br />
+7 (967) 535-24-72 (Telegram)</p>

<p>Russia, Kaliningrad, Sovetsky prospekt, 33a<br />
+7 (911) 855-45-41 (Telegram, Viber)</p>